DB_HOST =
SECRET_KEY_ACCESS = "ASCAEFWFW"
SECRET_KEY_REFRESH = "ASCAEFWFW"
PORT = 1234
CLOUD_NAME = "dcwgkbucu"
API_KEY = "424121435923448"
API_SECRET = "56X_Cf28pt3sKWJ0FERqmNmOCm8"
SENDGRID_API_KEY=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
EMAIL_SENDER=lytvyniuk.vladyslav@gmail.com 
GOOGLE_CLIENT_ID=862078981554-33dvkei0188ort0s668gsp3c3bs6p6e6.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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